.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list__item {

  .App-link {
    color: pink;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PrimaryNav, .SecondaryNav {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 66px;

  ul {
    margin: 0;
    max-width: 1256px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    li {
      list-style: none;

      a {
        display: inline-block;
        width: max-content;
        padding: 0 10px;
      }
    }
    li::after {
      content: "/";
      color: #212121;
      opacity: 0.8;
    }
  }
}

.PrimaryNav {
  top: 0;
  background: #212121;
  border-bottom: 1px solid gray;

  a {
    color: #fafafa;
  }

  ul {
    li::after {
      color: #fafafa;
    }
  }

  .activeNav {
    color: pink;
  }
}

.SecondaryNav {
  background: #fafafa;
  top: 66px;
  height: 33px;

  a {
    color: #212121;
  }

  .activeNav {
    color: red;
  }
}