* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list {
  max-width: 1000px;
  width: 100%;

  display: inline-flex;
  flex-direction: row;

  .list__item {
    color: white;
    flex: 0 1 33%;
    text-align: left;
    list-style: none;
    border: 1px solid white;
    margin: 5px;

    .product__name {
      display: block;
      text-align: center;
      margin: 10px;
    }

    .product__description {
      display: block;
      text-align: center;
      margin: 10px;
    }

    .App-link {
      display: block;
      margin: 10px;
      text-align: center;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
